body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* Firefox */
* {
  scrollbar-width: thin; /* "thin" is the narrowest option */
}